/*font*/
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
*{font-family: 'Rock Salt', cursive;
}

.description-container {
    min-height: 50vh;
    font-size: 2em;
}

.description {
    margin: 25vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-color: rgba(210, 210, 210, 0.8);

}

@media (max-width: 865px) {
    .description-container {
        font-size: 1.5em;
    }
}

.hero {
    /* the 'vh' unit asks the browser to */
    /* return the height of the viewport */
    /* we can then use that to set the height of an element */
    /* as a percentage of the viewport height (vh) */
    height: 100vh;
    min-height: 740px;
    background-image: url("images/ferrol.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero .title {
    font-family: 'Rock Salt', cursive;
    font-size: 22pt;
    color: #7a8cff;
    float: right;
    margin-top: 170px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    text-align: center;
    background-color: rgba(120, 120, 120, 0.7);
}

.title h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}

.title h2 {
    font-family: 'Rock Salt', cursive;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
}

.hero .nav {
    font-family: 'Rock Salt', cursive;
    font-style: italic;
    font-weight: 300;
    color: #7a8cff;
    margin-top: 2em;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
}

.hero .nav a {
    flex-grow: 1;
    color: #fff;
    text-decoration: none;
}

.hero .nav-item {
    font-size: 0.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
}

.hero .nav-item:hover {
    color: #fff;
    background-color: rgba(207, 200, 222, 0.5);
}
