@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Carrois+Gothic+SC');

body{
  background-color: #a9a9aa;
}

h1{
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center;
  padding-top: 10px;

}


h2{
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
}

p{
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
 width: 40%;
 display: block;
 margin-left: auto;
 margin-right: auto;


}


.psPhotos img{

  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.aiPhotos img{

  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.videos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;


}
